{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="text-center">
        <button class="btn bg-light" style="color: #18BC9C">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}
