{% extends 'base.html.twig' %}

{% block title %}Edit Calendar{% endblock %}

{% block body %}
    <div class="container py-5">
        <h1>Modifier l'événement</h1>

        {{ include('calendar/_form.html.twig', {'button_label': 'Enregistrer'}) }}

        <a href="{{ path('calendar_index') }}" style="float: left">Retour à la liste</a>

        <div style="float: right">
            {{ include('calendar/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
