{% extends 'base.html.twig' %}

{% block title %}Politique de confidentialité{% endblock %}

{% block body %}
    <div class="py-5">
        <div class="container py-4">
            <h3> <strong> Politique de confidentialité </strong></h3>

            <hr>
            <br>
            <!-- Article 1 -->

            <h4><strong> ARTICLE 1 : PREAMBULE </strong></h4>
            <div style="border-top: black solid 4px;display: inline">&emsp;&emsp;&emsp;</div>
            <p>Cette politique de confidentialité s'applique au site la présente Politique de confidentialité a pour but d'exposer aux utilisateurs du site :  </p>
            <p>• La manière dont sont collectées et traitées leurs données à caractère personnel. Doivent être considérées comme données personnelles toutes les données étant susceptibles d'identifier un utilisateur. Il s'agit notamment du prénom, du nom, de l’âge, de l'adresse postale l'adresse mail la localisation de l'utilisateur ou encore son adresse IP ; </p>
            <p>• Quels sont les droits des utilisateurs concernant ces données ; </p>
            <p>• Qui est le responsable du traitement des données à caractère personnel collectées et traitées ;</p>
            <p>• A qui ces données sont transmises ;</p>
            <p>• Eventuellement la politique du site en matière de fichiers « cookies »  </p>
            <br>
            <p> Cette Politique de confidentialité complète les mentions légales et les conditions générales d'utilisation que les utilisateurs peuvent consulter aux adresses ci-après : </p>
            <p>• https://prorganize/mentions_legales </p>
            <p>• https://prorganize/conditions_generales </p>

            <br><br>
            <!-- Article 2 -->


            <h4><strong> ARTICLE 2 : PRINCIPES GENERAUX EN MATIERE DE COLLECTE ET DE TRAITEMENT DE DONNEES </strong></h4>
            <div style="border-top: black solid 4px;display: inline">&emsp;&emsp;&emsp;</div>
            <p> Conformément aux dispositions de l'article 5 du règlement européen 2016/ 679 la collecte et le traitement des données des utilisateurs du site respectent les principes suivants :
            </p>
            <p>• Licéité, loyauté et transparence : les données ne peuvent être collectées et traitées qu'avec le consentement de l'utilisateur propriétaire des données. A chaque fois que des données à caractère personnel seront collectées, il sera indiqué à l'utilisateur que ces données sont collectées et pour quelle raison ces données sont collectées ;</p>
            <p>• Finalités limitées : la collecte et le traitement des données sont exécutés pour répondre aux objectifs déterminés dans les présentes conditions générales d'utilisation ;
            </p>
            <p>• Minimisation de la collecte et du traitement des données : seules les données nécessaires à la bonne exécution des objectifs poursuivis par le site sont collectées ;</p>
            <br>
            <p> Afin d'être licites, et ce conformément aux exigences de l'article 6 du règlement européen 2016 679, la collecte et le traitement des données à caractère personnel ne pourront intervenir que s'ils respectent au moins l'une des conditions ci-après énumérées :</p>
            <p>• L’utilisateur à expressément consenti au traitement ;</p>
            <p>• Le traitement est nécessaire à la bonne exécution d'un contrat ;</p>
            <p>• Le traitement répond à une obligation légale ; </p>
            <p>• Le traitement s'applique par une nécessité liée à la sauvegarde des intérêts vitaux de la personne concernée ou d'une autre personne physique ; </p>
            <p>• Le traitement peut s'expliquer par une nécessité liée à l'exécution d'une mission d'intérêt public où qui relève de l'exercice de l'autorité publique ; </p>
            <p>• Le traitement et la collecte des données à caractère personnel sont nécessaires aux fins des intérêts légitimes et privés poursuivis par le responsable du traitement ou par un tiers.</p>

            <br><br>
            <!-- Article 3 -->


            <h4><strong> ARTICLE 3 : DONNEES A CARACTERE PERSONNEL COLLECTEES ET TRAITEES DANS LE CADRE DE LA NAVIGATION SUR LE SITE </strong></h4>
            <div style="border-top: black solid 4px;display: inline">&emsp;&emsp;&emsp;</div>
            <p><strong> A. Données collectées et traitées et mode de collecte </strong></p>
            <p>Les données à caractère personnel collectées sur le site Prorganize sont les suivantes :</p>
            <p>• Prénom </p>
            <p>• Nom </p>
            <p>• Adresse email active </p>
            <p>Ces données sont collectées lorsque l'utilisateur utilise le formulaire de contact pour envoyer une demande. De plus, la durée de conservation de ces données dépend du service souscrit. La Société s’engage à ne pas conserver ces données personnelles au-delà de la durée nécessaire à la fourniture du service.</p>
            <p> La collecte et le traitement des données répondent à la finalité suivante : Réponse aux demandes envoyées par le biais du formulaire de contact </p>
            <p>Les traitements de données effectués sont fondés sur la base légale suivante : Exécution du contrat </p>

            <p><strong>B. Transmission des données à des tiers </strong></p>
            <p>Les données peuvent être transmises aux tiers ci-après énumérés :</p>
            <p>• Les services internes de la société : les directions en charge de l'exécution des services souscrits notamment le service client, l'administration des ventes, etc. </p>
            <p>• Les prestataires externes à la société : l’hébergeur, les prestataires techniques y compris les sous-traitants  </p>

            <p><strong>C. Hébergement des données </strong></p>
            <p>Le site est hébergé par OVH, dont le siège est situé à l'adresse ci-après : 2 rue Kellerman BP957 59053 Roubaix Cedex 1 – France</p>
            <p> L’hébergeur peut être contacté à la hotline suivante : 0 820 698 765. </p>
            <p>Les données collectées et traitées par le site sont exclusivement hébergées et traitées en France. </p>

            <br><br>
            <!-- Article 4 -->


            <h4><strong> ARTICLE 4 : RESPONSABLE DU TRAITEMENT DES DONNEES </strong></h4>
            <div style="border-top: black solid 4px;display: inline">&emsp;&emsp;&emsp;</div>
            <p><strong> A. Le responsable du traitement des données  </strong></p>
            <p>Le responsable du traitement des données à caractère personnel est : Cécile Schwinte. il peut être contacté par téléphone au 06 78 47 16 31.</p>
            <p>Le responsable du traitement des données est chargé de déterminer les finalités et les moyens mis au service du traitement des données à caractère personnel.</p>

            <p><strong>B. Obligation du responsable du traitement des données  </strong></p>
            <p>Le responsable du traitement s'engage à protéger les données à caractère personnel collectées, à ne pas les transmettre à des tiers sans que l'utilisateur n'en ai été informé et à respecter les finalités pour lesquelles ces données ont été collectées.</p>
            <p>Le site dispose d'un certificat SSL afin de garantir que les informations et le transfert des données transitant par le site sont sécurisées.</p>
            <p>Un certificat SSL a pour but de sécuriser les données échangées entre l'utilisateur et le site.</p>
            <p>De plus, le responsable du traitement des données s'engage à notifier l'utilisateur en cas de rectification ou de suppression des données, à moins que cela n'entraine pour lui des formalités, coûts et démarches disproportionnées.</p>
            <p>Dans le cas où l'intégrité, la confidentialité ou la sécurité des données à caractère personnel de l'utilisateur est compromise, le responsable du traitement s'engage à informer l'utilisateur par tout moyen.</p>

        <br><br>
        <!-- Article 5 -->


        <h4><strong> ARTICLE 5 : DROITS DE L'UTILISATEUR </strong></h4>
            <div style="border-top: black solid 4px;display: inline">&emsp;&emsp;&emsp;</div>
        <p>Conformément à la règlementation concernant le traitement des données à caractère personnel, l'utilisateur possède les droits ci-après énumérés.</p>
        <p>Afin que le responsable du traitement des données fasse droit à sa demande, l'utilisateur est tenu de lui communiquer : ses prénom et nom ainsi que son adresse email, et si cela est pertinent, son numéro de compte ou d'espace personnel ou d'abonné.</p>
        <p>Le responsable du traitement des données est tenu de répondre à l'utilisateur dans un délai de 30 jours minimum.</p>

        <p><strong>a. Droit d'accès de rectification et droit à l'effacement </strong></p>
        <p>L'utilisateur peut prendre connaissance, mettre à jour, modifier ou demander la suppression des données le concernant.</p>
        <p>S'il en possède un, l'utilisateur a le droit de demander la suppression de son espace personnel.</p>

        <p><strong>b. Droit à la portabilité des données </strong></p>
        <p>L’utilisateur a le droit de demander la portabilité de ses données personnelles, détenues par le site, vers un autre site.</p>

        <p><strong>c. Droit à la limitation et à l'opposition du traitement des données </strong></p>
        <p>L'utilisateur a le droit de demander la limitation ou de s'opposer au traitement de ces données par le site, sans que le site ne puisse refuser, sauf à démontrer l'existence de motifs légitimes et impérieux, pouvant prévaloir sur les intérêts et les droits et libertés de l'utilisateur.</p>

        <p><strong>d. Droit de ne pas faire l'objet d'une décision fondée exclusivement sur un procédé automatisé </strong></p>
        <p>Conformément aux dispositions du règlement 2016/679, l'utilisateur a le droit de ne pas faire l'objet d'une décision fondée exclusivement sur un procédé automatisé la décision produit des effets juridiques le concernant, ou l’affecte de manière significative de façon similaire.</p>

        <p><strong>e. Droit de déterminer le sort des données après la mort </strong></p>
        <p>Il est rappelé à l'utilisateur qu'il peut organiser quel doit être le devenir de ses données collectées et traitées s'il décède conformément à la loi numéro 2016-1321 du 7/10/2016.</p>

        <p><strong>f. Droit de saisir l'autorité de contrôle compétente </strong></p>
        <p>Dans le cas où le responsable du traitement des données décide de ne pas répondre à la demande de l'utilisateur, et que l'utilisateur souhaite contester cette décision, ou, s'il pense qu'il est porté atteinte à l'un des droits énumérés ci-dessus, il est en droit de saisir la CNIL ou toute autre juge compétent.</p>


            <br><br>
            <!-- Article 6 -->


            <h4><strong> ARTICLE 6 : CONDITIONS DE MODIFICATION DE LA POLITIQUE DE CONFIDENTIALITE </strong></h4>
            <div style="border-top: black solid 4px;display: inline">&emsp;&emsp;&emsp;</div>
            <p>La présente politique de confidentialité peut être consulté à tout moment à l'adresse ci-après indiquée : https://prorganize/politique_confidentialite</p>
            <p>L'éditeur du site se réserve le droit de la modifier afin de garantir sa conformité avec le droit en vigueur.</p>
            <p>Par conséquent, l'utilisateur est invité à venir consulter régulièrement cette politique de confidentialité afin de se tenir informé des derniers changements qui lui seront apportés.</p>
            <p>Il est porté à connaissance de l'utilisateur que la dernière mise à jour de la présente politique de confidentialité est intervenue le 31/03/2021.</p>


            <br><br>
            <!-- Article 7 -->


            <h4><strong> ARTICLE 7 : ACCEPTATION PAR L’UTILISATEUR DE LA POLITIQUE DE CONFIDENTIALITE </strong></h4>
            <div style="border-top: black solid 4px;display: inline">&emsp;&emsp;&emsp;</div>
            <p>En naviguant sur le site, l’utilisateur atteste avoir lu et compris la présente politique de confidentialité et en accepte les conditions, en ce qui concerne plus particulièrement la collecte et le traitement de ses données à caractère personnel.</p>


        </div>

    </div>

    </div>
{% endblock %}