{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
    <div class="py-5">
        <div class="container py-4">
            <h3> <strong> Mentions légales </strong></h3>
            <hr>
                <h4><strong> 1. Editeur et directeur de la publication </strong></h4>
            <div style="border-top: black solid 4px;display: inline">&emsp;&emsp;&emsp;</div>

            <p>Cécile Schwinte </p>
                <p>Contact : cecile.schwinte@gmail.com </p>
                <br><br>
                <h4><strong> 2. Hébergeur </strong></h4>
            <div style="border-top: black solid 4px;display: inline">&emsp;&emsp;&emsp;</div>
            <p> OVH </p>
                <p> SAS au capital de 10 000 000 € immatriculée au RCS Roubaix-Tourcoing</p>
                <p> N° Siret : 424 761 419 00045 – Code APE 6202A – N° TVA : FR 22 424 761 419 </p>
                <p> Siège social : 2 rue Kellermann BP 80157 59053 Roubaix Cedex 1 – France </p>
                <p> Hotline: 0 820 698 765 – Email: support@ovh.com – Web : http://www.ovh.com </p>
        </div>


    </div>
{% endblock %}