{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="container py-5">
        <h1>Nous contacter</h1>
        {{ form(contactForm) }}
    </div>
{% endblock %}
