{% extends 'base.html.twig' %}


{%  block title %}Modifier le contact {% endblock %}

{% block body %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('address_index') }}">Carnet de contacts</a></li>
            <li class="breadcrumb-item active" aria-current="page">Modifier le contact</li>
        </ol>
    </nav>
    <div class="container py-5">
        <h1>Modifier le contact</h1>

    {{ include('address_book/_form.html.twig', {'button_label': 'Enregistrer'}) }}
    {{ include('address_book/_delete_form.html.twig') }}
    </div>

{% endblock %}

